body{
	padding-top:60px;
	background-color: #34556A;
	color:#A5A5A5;
	font-family: "Trebuchet MS", arial, helvetica, sans-serif;
}
p{
	color:#14486A;	
	margin-left: 3px;
	font-family: "Trebuchet MS", arial, helvetica, sans-serif;
}
a{
	color: white;
	
	font-size: 1.0em;
}
a:hover{
	color:white;
	text-decoration: underline;
}
.nav-link {
	font-size: 1.5em;
}
h1, h2, h3{
	color:#14486A;
}
ul > li{
	color:white;
}
li{
	color:#14486A;
	list-style-type: none;
}
.center{
	float: none;
	margin-right: auto;
	margin-left: auto;
}
.navbar-brand{
	font-size: 2em;
}

img{
	padding-left: 5px;
}
/*.box img:hover{
	opacity: 0.6;
    filter: alpha(opacity=60);
}*/
.square .box-hover{
	opacity: 0;
	position: absolute;
	top: 0;
	background-color: #34556A;
	left:6.25%;
	border-radius: 6px;
}
.box-hover p{
	color: white;
	top:40%;
	position:relative;
	text-align: center;
}
.row{
	margin-top:15px;
}

.container{
	background-color: #A5A5A5;
}
.navbar-default{
	background-color: #34556A;
	border-bottom: 1px solid #34556A;
}
.btn{
	padding:5px;
}
.inverse{
	background-color:#14486A;
	color:white;
}
.filter{
	margin-left:5px;
}
.square{
	clear: both;
}
.content{
	display: none;
}
/*YOUTUBE VIDEO WRAPPER FROM github/jgarber*/
.flex-video {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 16px;
  overflow: hidden;
}
 
.flex-video.widescreen { padding-bottom: 57.25%; }
.flex-video.vimeo { padding-top: 0; }
 
.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  .flex-video { padding-top: 0; }
}

.flex-audio{
	height:400px;
}
.multiSounds{
	background-color: #A5A5A5;
}
.copyright{
	font-size:1.2em;
	top:0;
}
.footer{
	margin-top: 15px;
}
.footer li{
	display: inline;
	padding-left:5px;
}
i:hover{
	color:white;
}
.img-responsive{
	border-radius: 10px;
}
.selfie{
	border-radius: 10px;
}
.selfie img:hover{
	opacity: 1.0;
}

@media (max-width: 990px){
	.square .box-hover{
		left:8%;
	}
}
@media (max-width: 767px){
	.square .box-hover{
		left:5.4%;
	}
}
@media (max-width: 530px){
	.square .box-hover{
		left:7.5%;
	}
}